<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Controls" version="1.0.57" targetFramework="net45" />
  <package id="Apitron.PDF.Kit" version="1.0.13" targetFramework="net45" />
  <package id="Apitron.PDF.Rasterizer" version="3.0.57" targetFramework="net45" />
</packages>